Repository knyghtmare/War_of_Legends, pull requests merged in 2025-02, with the labels that each got.

#248 flame initiate: add unit images
  images/units/human-magi/flame-initiate-attack-magic1.png
  images/units/human-magi/flame-initiate-attack-magic2.png
  images/units/human-magi/flame-initiate-attack-staff1.png
  images/units/human-magi/flame-initiate-attack-staff2.png
  images/units/human-magi/flame-initiate-defend.png
  images/units/human-magi/flame-initiate-die-1.png
  images/units/human-magi/flame-initiate-die-10.png
  images/units/human-magi/flame-initiate-die-11.png
  images/units/human-magi/flame-initiate-die-12.png
  images/units/human-magi/flame-initiate-die-13.png
  images/units/human-magi/flame-initiate-die-14.png
  images/units/human-magi/flame-initiate-die-15.png
  images/units/human-magi/flame-initiate-die-16.png
  images/units/human-magi/flame-initiate-die-2.png
  images/units/human-magi/flame-initiate-die-3.png
  images/units/human-magi/flame-initiate-die-4.png
  images/units/human-magi/flame-initiate-die-5.png
  images/units/human-magi/flame-initiate-die-6.png
  images/units/human-magi/flame-initiate-die-7.png
  images/units/human-magi/flame-initiate-die-8.png
  images/units/human-magi/flame-initiate-die-9.png
  images/units/human-magi/flame-initiate.png
Labels: Units, Graphics

#247 Fire mage line
  macros/weapon-specials.cfg
  units/human-mages/Flame_Initiate.cfg
  units/human-mages/Mage_Ember.cfg
  units/human-mages/Mage_Firestorm.cfg
Labels: Units, Dev Branch 1.19.x

#254 Ember Mage: unit art
  images/units/human-magi/ember-mage-attack-magic-1.png
  images/units/human-magi/ember-mage-attack-magic-2.png
  images/units/human-magi/ember-mage-attack-staff-1.png
  images/units/human-magi/ember-mage-attack-staff-2.png
  images/units/human-magi/ember-mage-defend.png
  images/units/human-magi/ember-mage.png
  images/units/human-magi/firestorm-mage-attack-magic1.png
  images/units/human-magi/firestorm-mage-attack-magic2.png
  images/units/human-magi/firestorm-mage-attack-staff1.png
  images/units/human-magi/firestorm-mage-attack-staff2.png
  images/units/human-magi/firestorm-mage-defend.png
  images/units/human-magi/firestorm-mage.png
  units/human-mages/Mage_Ember.cfg
  units/human-mages/Mage_Firestorm.cfg
Labels: Units

#255 Windsong Courier: Add portrait art
  documentations/CREDITS.txt
  images/portraits/windsong/courier.webp
  units/windsong/Courier.cfg
Labels: Units, Graphics
